//
// Name:            Mixins
//
// Description:     Contains all transform styles
//

// ========================================================================
// Component: Mixins
// ========================================================================

// Media Queries
@mixin large-desktop() {
  @media only screen and (min-width: 1441px) {
    @content;
  }
}

@mixin tablet-xxl() {
  @media only screen and (max-width: 1440px) and (min-width: 1px) {
    @content;
  }
}

@mixin tablet-xl() {
  @media only screen and (max-width: 1200px) and (min-width: 1px) {
    @content;
  }
}

@mixin tablet-lg() {
  @media only screen and (max-width: 1024px) and (min-width: 1px) {
    @content;
  }
}

@mixin tablet-sm() {
  @media only screen and (max-width: 768px) and (min-width: 1px) {
    @content;
  }
}

@mixin mobile() {
  @media only screen and (max-width: 681px) and (min-width: 1px) {
    @content;
  }
}

@mixin scriptorama() {
  font-family: scriptorama-markdown-jf, sans-serif;
  font-style: normal;
  font-weight: 400;
  @content;
}
