//
// Component:       Variables
// Description:     Defines all color and style related values as variables
//                  to allow easy customization for the most common cases.
//
// ========================================================================

// ========================================================================
// Component: Variables
// ========================================================================

// Fonts
$roboto: 'Roboto', sans-serif;

// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$primary-pink: #DD5381;
$primary-green: #96D5D2;
$secondary-green: #6AB3AF;
