//
// Name:            Home
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//

// ========================================================================
// Component: 404 Page
// ========================================================================
body.error404 {
  min-height: 100vh;

  .page-header {
    color: $primary-pink;

    &:before {
      display: none !important;
    }
  }

  main {
    overflow: hidden;
    text-align: center;

    .button {
      font-size: 32px;

      @include tablet-lg {
        font-size: 23px;
      }

      @include mobile {
        font-size: 18px;
      }
    }
  }

  #menu {
    .menu-item-object-custom,
    .button {
      display: none;
    }

    .topnav ul li {
      margin: 0;
    }
  }

  #menu {
    @include tablet-lg {
      background: $secondary-green;

      .scrolling-button {
        display: none;
      }

      // .wpml-ls-flag {
      //   margin-left: 1rem;
      //   margin-right: 1rem;
      // }
      //
      // .wpml-ls-item {
      //   .wpml-ls-native, button {
      //     display: none;
      //   }
      // }
    }

    .wpml-ls-menu-item {
      position: relative;

      .desktop {
        display: block !important;
      }

      .responsive {
        display: none !important;
      }
    }

    // @media only screen and (min-width: 1024px) {
      .wpml-ls-current-language .sub-menu {
        display: none;
        position: absolute;
        list-style: none;
        padding: 7px;
        margin: 0;
        background: #fff;
        z-index: 100;
        font-size: 1rem;
        // top: 55%;
        top: 100%;
        box-shadow: 1px 1px 14px rgba(0,0,0,.2);
        // transform: translateX(-50%);
        text-align: left;
        max-width: none;
        width: auto;

        * {
          color: $color-black !important;
        }

        li {
          display: block !important;
          margin: 0.5rem !important;
          text-align: left;

          &:hover .wpml-ls-native {
            text-decoration: underline;
          }
        }
      }

      .wpml-ls-current-language {
        // .wpml-ls-native, button {
        //   display: none;
        // }
        button {
          display: none;
        }
      }

      .sub-menu .wpml-ls-native {
        display: inline !important;
      }

      .wpml-ls-menu-item {
        button {
          display: none;
        }

        .desktop {
          justify-content: center;
          display: flex !important;

          img {
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;
            margin: auto;
          }

          span {
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;
          }
        }
      }
    // }
  }

  #banner {
    padding-bottom: 10vw;
  }

  .content-section,
  .page-header {
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 17px;
      background-image: linear-gradient(90deg, #DD5381 0%, #96D5D2 100%);
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
    }

    .section-cnt {
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      position: relative;
    }

    .text-container {
      max-width: 933px;
      margin: auto;
    }

    h2 {
      font-size: 50px;
      font-weight: 600;
      color: $primary-pink;
      letter-spacing: 1.25px;
      margin-bottom: 30px;
      text-align: center;

      @include tablet-sm {
        font-size: 45px;
        letter-spacing: 1.12px;
      }

      @include mobile {
        font-size: 40px;
        letter-spacing: 0.88px;
      }
    }

    h3 {
      font-size: 27px;
      font-weight: 600;
      color: $primary-pink;
      letter-spacing: 0.71px;
      line-height: 32px;
      margin-top: 37px;
      margin-bottom: 14px;

      @include mobile {
        font-size: 24px;
        letter-spacing: 0.58px;
        line-height: 32px;
      }

      & + p {
        margin-top: 0;
      }
    }

    p {
      font-weight: 300;
      line-height: 38px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        font-weight: 300;
        line-height: 38px;
        padding-left: 15px;
        position: relative;

        &:after {
          content: '';
          width: 9px;
          height: 9px;
          background: $primary-pink;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          top: 15px;
          left: 0;

          @include mobile {
            top: 14px;
          }
        }
      }
    }
  }
}
