//
// Name:            Home
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//

// ========================================================================
// Component: Home Page
// ========================================================================
body.home {
  main {
    overflow: hidden;

    .button {
      font-size: 32px;

      @include tablet-lg {
        font-size: 23px;
      }

      @include mobile {
        font-size: 18px;
      }
    }
  }

  #menu {
    @include tablet-lg {
      background: $secondary-green;

      .scrolling-button {
        display: none;
      }

      // .wpml-ls-flag {
      //   margin-left: 1rem;
      //   margin-right: 1rem;
      // }
      //
      // .wpml-ls-item {
      //   .wpml-ls-native, button {
      //     display: none;
      //   }
      // }
      //
      // .wpml-ls-current-language {
      // display: block !important;
      //
      //   .sub-menu {
      //     display: block !important;
      //
      //     li {
      //       display: block !important;
      //       margin: 1rem !important;
      //     }
      //   }
      // }
    }

    .wpml-ls-menu-item {
      position: relative;

      .desktop {
        display: block !important;
      }

      .responsive {
        display: none !important;
      }
    }

    // @media only screen and (min-width: 1024px) {
    .wpml-ls-current-language .sub-menu {
      display: none;
      position: absolute;
      list-style: none;
      padding: 7px;
      margin: 0;
      background: #fff;
      z-index: 100;
      font-size: 1rem;
      // top: 55%;
      top: 100%;
      box-shadow: 1px 1px 14px rgba(0,0,0,.2);
      // transform: translateX(-50%);
      text-align: left;
      max-width: none;
      width: auto;

      * {
        color: $color-black !important;
      }

      li {
        display: block !important;
        margin: 0.5rem !important;
        text-align: left;

        &:hover .wpml-ls-native {
          text-decoration: underline;
        }
      }
    }

    .wpml-ls-current-language {
      // .wpml-ls-native, button {
      //   display: none;
      // }
      button {
        display: none;
      }
    }

    .sub-menu .wpml-ls-native {
      display: inline !important;
    }

    .wpml-ls-menu-item {
      button {
        display: none;
      }

      .desktop {
        justify-content: center;
        display: flex !important;

        img {
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
          width: auto;
          max-width: 100%;
          margin: auto;
        }

        span {
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
          width: auto;
          max-width: 100%;
        }
      }
    }
    // }
  }

  #banner,.top-banner {
    color: $color-white;
    position: relative;

    .section-cnt {
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      position: relative;
    }

    .bg {
      width: 100vw;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      span {
        &:first-child {
          width: 100%;
          height: calc(100% - 90px);
          background: $primary-pink;

          @include tablet-sm {
            height: calc(100% - 70px);
          }

          @include mobile {
            display: none;
          }
        }

        &:last-child {
          width: 100%;
          height: 100%;
          background-image: linear-gradient(90deg, #DD5381 11%, #96D5D2 56%);
          opacity: .9;
          position: relative;

          @include mobile {
            background-image: linear-gradient(90deg, #DD5381 12%, #96D5D2 88%);
          }

          &:before {
            content: '';
            width: 0;
            height: 0;
            border-top: 7.5vw solid $color-white;
            border-left: 50vw solid transparent;
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;

            @include tablet-sm {
              border-top: 70px solid $color-white;
            }

            @include mobile {
              border-top: 48px solid $color-white;
              border-left: 100vw solid transparent;
            }
          }

          &:after {
            content: '';
            width: 0;
            height: 0;
            border-bottom: 90px solid $color-white;
            border-right: 50vw solid transparent;
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;

            @include tablet-sm {
              border-bottom: 70px solid $color-white;
            }

            @include mobile {
              border-bottom: 48px solid $color-white;
              border-right: 100vw solid transparent;
            }
          }
        }
      }
    }

    .text-cnt {
      width: 50%;
      max-width: 720px;
      padding-top: 50px;
      padding-bottom: 254px;
      padding-left: 8.35vw;
      position: relative;
      z-index: 1;

      @include large-desktop {
        padding-left: 135px;
      }

      @include tablet-lg {
        padding-top: 33px;
        padding-left: 4.8vw;
        padding-bottom: 240px;
      }

      @include mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 65px 6.25vw 0;
        text-align: center;
        position: static;
      }

      h2 {
        @include scriptorama {
          font-size: 85px;
          line-height: 96px;

          @include tablet-xl {
            font-size: 50px;
            line-height: 61px;
          }

          @include mobile {
            font-size: 40px;
            line-height: 45px;
          }
        }
      }

      .subheadline {
        font-size: 40px;
        letter-spacing: 0;
        line-height: 49px;

        @include tablet-lg {
          font-size: 26px;
          line-height: 35px;
        }

        @include mobile {
          font-size: 24px;
          letter-spacing: 0;
          line-height: 27px;
        }
      }

      .copy {
        max-width: 70%;
        font-size: 26px;
        line-height: 33px;
        margin-top: 40px;

        @include tablet-xl {
          font-size: 20px;
          line-height: 24px;
          margin-top: 20px;
          margin-bottom: 60px;
        }

        @include tablet-xl {
          max-width: none;
        }

        @include mobile {
          max-width: none;
          font-size: 18px;
          line-height: 20px;
          margin-top: 10px;
          margin-bottom: 0;
        }
      }

      .button {
        margin-top: 24px;

        @include mobile {
          margin: 24px auto 0;
        }
      }

      .tooltip {
        @include mobile {
          margin: 20px auto 0;
        }

        .pq-disclaimer {
          max-width: 333px;

          @include tablet-lg {
            max-width: 60%;
          }

          @include mobile {
            max-width: 200px;
          }
        }
      }
    }

    .image-container {
      bottom: 0;
      height: 100%;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      width: auto;

      img {
        height: auto;
        top: 0;
        right: 0;
        position: absolute;
        min-width: 62% !important;

        &.ww {
          width: auto !important;
        }
      }

      @media (max-width: 1224px) {
        // transform: translateX(43vw);
      }

      @include tablet-xl {
        height: 100%;
        // left: auto;
        right: -17%;
        transform: none;
      }

      @include tablet-sm {
        max-width: none;
        max-height: none;
        width: auto;
        right: -17%;

        img {
          min-width: auto;
        }
      }

      @include mobile {
        width: 70%;
        height: 60vw;
        margin-top: 10px;
        position: relative;
        right: 0;
        z-index: -1;
        margin: auto;

        img {
          height: auto;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  .content-section {
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 17px;
      background-image: linear-gradient(90deg, #DD5381 0%, #96D5D2 100%);
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
    }

    .section-cnt {
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      position: relative;
    }

    .text-container {
      max-width: 933px;
      margin: auto;
    }

    h2 {
      font-size: 50px;
      font-weight: 600;
      color: $primary-pink;
      letter-spacing: 1.25px;
      margin-bottom: 30px;
      text-align: center;

      @include tablet-sm {
        font-size: 45px;
        letter-spacing: 1.12px;
      }

      @include mobile {
        font-size: 40px;
        letter-spacing: 0.88px;
      }
    }

    h3 {
      font-size: 27px;
      font-weight: 600;
      color: $primary-pink;
      letter-spacing: 0.71px;
      line-height: 32px;
      margin-top: 37px;
      margin-bottom: 14px;

      @include mobile {
        font-size: 24px;
        letter-spacing: 0.58px;
        line-height: 32px;
      }

      & + p {
        margin-top: 0;
      }
    }

    p {
      font-weight: 300;
      line-height: 38px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        font-weight: 300;
        line-height: 38px;
        padding-left: 15px;
        position: relative;

        &:after {
          content: '';
          width: 9px;
          height: 9px;
          background: $primary-pink;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          top: 15px;
          left: 0;

          @include mobile {
            top: 14px;
          }
        }
      }
    }

    .disclaimer {
      font-size: 10px;
      font-weight: 600;
      line-height: 18px;
      margin-top: 10px;
    }
  }

  #about {
    padding: 70px 0;
    z-index: 3;

    @include tablet-lg {
      padding: 70px 0;
    }

    @include tablet-sm {
      padding: 50px 0;
    }

    .section-cnt {
      padding: 0 16.1vw;

      @include large-desktop {
        padding: 0 322px;
      }

      @include tablet-lg {
        padding: 0 10vw;
      }

      @include tablet-sm {
        padding: 0 4.8vw;
      }
    }

    .button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 100px;

      @include tablet-lg {
        max-width: 250px;
        margin: 100px auto 0;
      }

      @include tablet-sm {
        margin-top: 75px;
      }

      @include mobile {
        max-width: 200px;
      }
    }

    .tooltip {
      .pq-disclaimer {
        span {
          @include mobile {
            text-align: center;
          }
        }
      }
    }

  }

  #about-hot-flushes-and-night-sweats {
    background: rgba(150,213,210,0.10);
    padding: 70px 0 0;
    z-index: 2;

    @include tablet-lg {
      padding: 50px 0 0;
    }

    .section-cnt {
      padding: 0 16.1vw 70px;

      @include large-desktop {
        padding: 0 285px 70px;
      }

      @include tablet-lg {
        padding: 0 10vw;
      }

      @include tablet-sm {
        padding: 0 4.8vw;
      }

      @include mobile {
        padding-bottom: 0;
      }
    }

    h2 {
      @media (max-width: 1300px) {
        font-size: 45px;
      }

      @media (max-width: 1175px) {
        font-size: 38px;
      }

      @media (max-width: 850px) {
        font-size: 35px;
      }
    }

    .copy-cnt {
      max-width: 573px;

      @include tablet-sm {
        max-width: none;
      }
    }

    .image-container {
      bottom: 0;
      height: 100%;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      width: 40vw;
      max-width: 620px;

      img {
        height: auto !important;
        bottom: 0;
        right: 0;
        position: absolute;
        min-height: auto;
        width: 100%;
      }

      @include tablet-xl {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        position: relative;
        right: 0;
        z-index: -1;
        margin: auto;

        img {
          height: auto;
          position: relative;
          top: 0;
          right: 0;
          margin-left: auto;
        }
      }
    }

    .button-container {
      margin-top: 0;

      @include tablet-sm {
        max-width: 250px;
        margin: 75px auto 0;
      }

      @include mobile {
        max-width: 200px;
        margin-top: 30px;
      }
    }

    .tooltip {
      .pq-disclaimer {
        span {
          @include mobile {
            text-align: center;
          }
        }
      }
    }

  }

  #faq {
    padding: 70px 0 100px;

    @include tablet-lg {
      padding: 70px 0 100px;
    }

    @include tablet-sm {
      padding: 50px 0;
    }

    .section-cnt {
      padding: 0 16.1vw;

      @include large-desktop {
        padding: 0 322px;
      }

      @include tablet-lg {
        padding: 0 10vw;
      }

      @include tablet-sm {
        padding: 0 4.8vw;
      }
    }

    h3 {
      font-weight: 600;
    }

    .buttons-container {
      display: flex;
      margin-top: 10px;
      margin-bottom: 10px;
      position: relative;

      button {
        height: 100%;
        background: none;
        border: none;
        font-size: 20px;
        color: #6AB3AF;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        letter-spacing: 0.53px;
        line-height: 100%;
        margin: 0;
        padding-top: 2px;
        padding-bottom: 2px;
        -webkit-appearance: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }

        &:first-child {
          padding-left: 0;
          padding-right: 10px;
          position: relative;
          border-right: 1px solid $secondary-green;
        }

        &:last-child {
          margin-top: 0;
          padding-left: 10px;
          padding-right: 0;
          border-left: 1px solid $secondary-green;
        }
      }
    }

    .faq-item {
      margin-bottom: 10px;
      padding-left: 23px;

      &:last-child {
        margin-bottom: 0;
      }

      &.show {
        .question .icon:before {
          transform: rotate(90deg);
        }
      }
    }

    .question {
      background: none;
      border: none;
      color: $color-black;
      cursor: pointer;
      font-size: 23px;
      font-weight: 600;
      letter-spacing: 0.61px;
      line-height: 49px;
      overflow: visible;
      padding: 0;
      position: relative;
      text-align: left;
      -webkit-appearance: none;

      &:hover {
        text-decoration: underline;

        @include mobile {
          text-decoration: none;
        }
      }

      @include mobile {
        font-size: 21px;
        letter-spacing: 0.47px;
        line-height: 25px;
      }

      .icon {
        width: 14px;
        height: 14px;
        background: $primary-pink;
        border-radius: 50%;
        position: absolute;
        top: 18px;
        left: -23px;

        @include mobile {
          top: 6px;
        }

        &:before {
          content: '';
          width: 2px;
          height: 8px;
          background: $color-white;
          display: inline-block;
          position: absolute;
          top: 3px;
          left: 6px;
          transform: rotate(0);
          transition: transform .25s ease-in-out;
        }

        &:after {
          content: '';
          width: 8px;
          height: 2px;
          background: $color-white;
          display: inline-block;
          position: absolute;
          top: 6px;
          left: 3px;
        }
      }
    }

    .answer {
      display: none;
      font-size: 17px;
      letter-spacing: 0.45px;
      line-height: 28px;
      margin-bottom: 1rem;
    }
  }

  #map {
    padding: 70px 0 100px;
    z-index: 3;
    background: rgba(150,213,210,0.10);

    @include tablet-lg {
      padding: 70px 0 100px;
    }

    @include tablet-sm {
      padding: 50px 0 0;
    }

    .section-cnt {
      @include tablet-lg {
        padding: 0 10vw;
      }

      @include tablet-sm {
        padding: 0 4.8vw;
      }
    }

    .center-content {
      justify-content: center;
    }

    .button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 100px;

      @include tablet-lg {
        max-width: 250px;
        margin: 100px auto 0;
      }

      @include tablet-sm {
        margin-top: 75px;
      }

      @include mobile {
        max-width: 200px;
      }
    }

    img {
      width: 100%;

      @include tablet-lg {
        margin-bottom: 3rem;
      }
    }

    .row {
      margin-left: 10px;
      margin-right: -15px;
      @media only screen and (max-width: 1024px) and (min-width: 1px) {
        margin-left: -15px;
      }

      >[class*="col-"] {
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        width: 100%;
      }

      &.center-content>[class*="col-"] {
        @include tablet-sm {
          flex-basis: 80%;
          max-width: 80%;
        }
      }
    }

    .location-container {
      padding-right: 1rem;
      padding-left: 1rem;
    }

    .text-container {
      max-width: 1173px;
      margin: auto;

      @include tablet-xl {
        max-width: 933px;
      }
    }

    .reveal-button {
      font-size: 18px;
      line-height: 24px;
      padding: 5px;
      width: 100%;
      text-align: center;
      position: relative;
      z-index: 2;

      &.d-none {
        display: none !important;
      }
    }

    .location-number {
      &.d-none {
        display: none !important;
      }
    }

    .contact-reveal {
      display: none;
      font-size: 17px;
      letter-spacing: 0.45px;
      line-height: 28px;
      background: $color-white;
      // width: calc(88% - 25px);
      width: 100%;
      // position: absolute;
      position: relative;
      z-index: 1;
      padding: 10px 5px;
      word-break: break-all;

      p {
        font-size: 14px;
        line-height: 1.5;
        margin-top: 5px;

        + p {
          margin-top: 10px;
        }
      }

      a:hover {
        text-decoration: underline;
      }
      &.show {
        display: block;
      }
    }

    h3 {
      margin: 0;
      font-size: 20px;
      line-height: 1;
      margin-bottom: 10px;
      color: rgba(0,0,0,0.8);

      + p {
        margin-bottom: 10px;
      }
    }

    p {
      font-size: 16px;
      line-height: 25px;
    }

    .pb-3 {
      padding-bottom: 4.5rem;
      position: relative;
      display: flex;
      max-width: 300px;
      max-height: 700px;
      flex-direction: column;
      overflow: scroll;
      margin: 0 auto;
      @media only screen and (max-width: 1024px) and (min-width: 1px) {
        flex-wrap: wrap;
        flex-direction: column;
        max-width: none;
        max-height: none;
        margin: 0;
    }
  }

    .pagination-section {
      position: relative;
      display: inline-block;
      width: 100%;
      text-align: center;
    }

    .swiper-pagination {
      display: inline-block;
    }

    .swiper-pagination-bullet {
      margin: 0 6px;
    }

    .swiper-button-prev,
    .swiper-button-next {
      background: none !important;
      display: inline-block;
      height: auto;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
      right: 0;
      left: 0;
      position: relative;
      top: 0;
      width: auto;
      vertical-align: middle;
    }

    .swiper-slide {
      &.swiper-slide-active {
        // max-width: calc(100% - 1rem);
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }

      &.swiper-slide-next,
      &.swiper-slide-prev {
        opacity: 0;
      }

      > .row {
        margin-left: 1px;
        margin-right: 1px;
      }
    }

    .swiper-slide:not(.swiper-slide-active) {
      .button {
        box-shadow: none;
      }
    }

    .swiper-slide-active {
      display: flex;
    }

    .swiper-slide-next {
      display: none;
    }

    .swiper-pagination-bullet {
      width: 14px;
      height: 14px;

      &.swiper-pagination-bullet-active {
        background: $primary-pink;
      }
    }

    .swiper-wrapper.disabled {
      transform: translate3d(0px, 0, 0) !important;
    }

    .swiper-pagination.disabled {
      display: none;
    }

    .location-entry {
      background: transparent;
      transition: background 0.3s ease-in-out;
      pointer-events: none;

      > h3,
      > p {
        transition: color 0.3s ease-in-out;
      }

      p {
        cursor: initial;
      }

      &.pb-3 {
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        padding-top: 1rem;
        margin: 0;
      }

      &.is-active {
        background: $primary-pink;
        box-shadow: 0 5px 5px rgba(0,0,0,0.5);

        > h3,
        > p {
          color: #fff;
        }
      }

      .reveal-button {
        cursor: pointer;
        pointer-events: all;
        white-space: pre-line;
      }

      .contact-reveal {
        pointer-events: all;
      }

    }

    #google-map {
      position: relative;
      height: 678px;
      width: 100%;
      background-color: $color-white;

      @include tablet-xl {
        height: 426px;
        margin-bottom: 3rem;
      }

      @include tablet-sm {
        height: 337px;
      }
    }
  }
}
