<footer class="footer">
    <div class="wrapper container-fluid">
        <div class="row between-xs middle-xs">
            <a class="logo" href="/">Clique Studios</a>
            <div class="nav">
                <ul>
                    <li>
                        <a href="#">Footer Link</a>
                    </li>
                    <li>
                        <a href="#">Footer Link</a>
                    </li>
                    <li>
                        <a href="#">Footer Link</a>
                    </li>
                    <li>
                        <a href="#">Footer Link</a>
                    </li>
                    <li>
                        <a href="#">Footer Link</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 copyright">
                <p>&copy;2017 Clique Studios. All Rights Reserved | Built by
                    <a href="http://cliquestudios.com/" rel="external" target="_blank">Clique Studios</a>
                </p>
            </div>
        </div>
    </div>
</footer>