//
// Name:            Footer
//
// Description:     Contains all footer styles
//

// ========================================================================
// Component: Footer
// ========================================================================
footer {
  width: 100%;
  background: $secondary-green;
  color: $color-white;
  padding: 105px 9.2vw 48px;
  position: relative;
  z-index: 100;

  @include tablet-sm {
    padding: 100px 4.8vw 24px;
  }

  @include mobile {
    padding-top: 54px;
  }

  &:before {
    content: '';
    width: 100%;
    height: 17px;
    background-image: linear-gradient(90deg, #DD5381 0%, #96D5D2 100%);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .footer-inner {
    max-width: 1175px;
    margin: auto;
  }

  .logo {
    margin-bottom: 53px;
    text-align: center;

    @include mobile {
      margin-bottom: 38px;
    }

    a {
      display: inline-block;
      position: relative;

      span {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }

      img {
        width: 359px;
        height: auto;

        @include tablet-sm {
          width: 292px;
        }

        @include mobile {
          width: 169px;
        }
      }
    }
  }

  .copy {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.92px;
    text-align: center;

    @include tablet-lg {
      font-size: 30px;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  .sharethis-inline-share-buttons {
    margin-top: 50px;
  }

  .copyright {
    font-size: 17px;
    letter-spacing: 0.26px;
    margin-top: 50px;
    text-align: center;

    @include mobile {
      font-size: 10px;
    }
  }

  .footer-links {
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    margin-top: 10px;

    li {
      display: flex;
      padding: 0 5px;
      position: relative;

      &:after {
        content: '';
        width: 1px;
        height: 100%;
        background: $color-white;
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      a {
        color: $color-white;
        font-size: 17px;
        letter-spacing: 0.26px;
        text-align: center;
        text-decoration: underline;

        @include mobile {
          font-size: 10px;
        }
      }
    }
  }
}
