//
// Name:            Header
//
// Description:     Contains all header styles
//

// ========================================================================
// Component: Header
// ========================================================================

header.header {
  width: 100vw;
  height: 150px;
  background: $color-white;
  display: flex;
  // padding: 46px 8vw;
  padding: 46px 4vw;
  position: fixed;
  z-index: 101;
  transition: all .25s ease-in-out;

  &.scroll {
    height: 90px;
    // padding: 14px 8vw;
    padding: 14px 4vw;
  }

  @media (min-width: 1441px) {
    // padding: 46px 132px;
    padding: 46px 4vw;

    &.scroll {
      // padding: 14px 132px;
      padding: 14px 4vw;
    }
  }

  @media (max-width: 1200px) {
    padding: 46px 6vw;

    &.scroll {
      height: 100px;
      padding: 14px 6vw;
    }
  }

  @include tablet-lg {
    height: 98px;
    padding: 21px 6vw;
    transition: none;

    &.scroll {
      height: 98px;
      padding: 21px 6vw;
    }
  }

  @include tablet-sm {
    padding: 21px 4.8vw;

    &.scroll {
      padding: 21px 4.8vw;
    }
  }

  @include mobile {
    height: 80px;
    padding: 10px 4.8vw;

    &.scroll {
      height: 80px;
      padding: 10px 4.8vw;
    }
  }

  .header-inner {
    width: 100%;
    // max-width: 1440px;
    max-width: none;
    margin: auto;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 16px;
    line-height: 100%;

    a {
      display: inline-block;
      position: relative;

      span {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }

      img {
        width: 202px;
        height: auto;

        @include mobile {
          width: 130px;
        }
      }
    }
  }

  #hamburger {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    padding: 0;
    position: relative;
    -webkit-appearance: none;

    @include mobile {
      width: 32px;
    }

    span {
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    @include tablet-lg {
      display: inline-block;
    }
  }

  #menu {
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    margin-left: 2.1vw;

    .pre-qualify {
      font-size: 22px;
      margin-top: auto;
      margin-bottom: auto;
    }

    .copy {
      font-size: 16px;
      letter-spacing: 0.42px;
      text-align: center;
      line-height: 20px;
    }

    .responsive-green {
      display: flex;
    }

    .responsive-menu-element {
      display: none;
    }

    .top {
      height: 100px;

      .close {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        position: relative;
        -webkit-appearance: none;

        span {
          width: 100%;
          height: 100%;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        }
      }
    }

    .bottom {
      color: $color-white;
      text-align: center;
      padding: 60px 6.25vw 16px;

      .copy {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.42px;
        text-align: center;
        line-height: 20px;
      }

      .sharethis-inline-share-buttons {
        margin-top: 35px;
      }

      .copyright {
        font-size: 10px;
        letter-spacing: 0.26px;
        text-align: center;
        line-height: 15px;
      }

      .footer-links {
        display: flex;
        align-items: center;
        -ms-flex-align: center;
        justify-content: center;
        margin-top:10px;

        li {
          display: flex;
          padding: 0 5px;
          position: relative;

          &:after {
            content: '';
            width: 1px;
            height: 100%;
            background: $color-white;
            display: inline-block;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }

          &:last-child {
            &:after {
              display: none;
            }
          }

          a {
            color: $color-white;
            font-size: 10px;
            letter-spacing: 0.26px;
            text-align: center;
            text-decoration: underline;
          }
        }
      }
    }

    @include tablet-lg {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      transform: translateX(100%);
      position: fixed;
      top: 0;
      left: 0;
      margin-left: 0;
      transition: transform .25s ease-in-out;

      &.open {
        transform: translateX(0);
      }

      .pre-qualify {
        display: none;
      }

      .responsive-menu-element {
        display: block;
      }

      .top {
        width: 100%;
        background: $primary-pink;
        display: flex;
        justify-content: space-between;
        align-items: center;
        -ms-flex-align: center;
        padding: 21px 6.25vw;
      }

      .responsive-green {
        height: calc(100vh - 100px);
        background: $secondary-green;
        flex-direction: column;
        overflow: scroll;
      }
    }

    @include mobile {
      .top {
        height: 80px;
        padding: 10px 4.8vw;
      }

      .responsive-green {
        height: calc(100vh - 80px);
      }
    }
  }
}
