//
// Name:            Layout
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//

// ========================================================================
// Component: Base
// ========================================================================

.main {
  width: 100%;
  padding-top: 150px;
  position: relative;
  transition: padding-top .25s ease-in-out;
  z-index: 99;

  @include tablet-lg {
    padding-top: 98px;
  }

  @include mobile {
    padding-top: 80px;
  }
}

.container {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  margin: 0;

  > [class*="col-"] {
    padding: 0;
  }
}

.section {
  position: relative;
  vertical-align: top;
}

// Section padding
.section.large-padding {
  padding: 100px 0;
}

.section.medium-padding {
  padding: 60px 0;
}

.section.small-padding {
  padding: 40px 0;
}

// Text alignment
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// ShareThis
//.sharethis-inline-share-buttons {
//  .st-btn {
//    width: 48px!important;
//    height: 48px!important;
//    display: inline-flex!important;
//    justify-content: center;
//    align-items: center;
//    -ms-flex-align: center;
//    margin-right: 21px!important;
//    padding: 0!important;
//    position: relative;
//
//    &:last-child {
//      margin-right: 0!important;
//    }
//
//    &[data-network='email'],
//    &[data-network='twitter'],
//    &[data-network='facebook'] {
//      background: transparent !important;
//    }
//
//    &[data-network='email'] {
//      &:before {
//        content: '';
//        width: 36px;
//        height: 26px;
//        background: url('../images/email-icon.svg') 50% no-repeat;
//        background-size: contain;
//        display: inline-block;
//        margin: auto;
//      }
//    }
//
//    &[data-network='twitter'] {
//      &:before {
//        content: '';
//        width: 33px;
//        height: 26px;
//        background: url('../images/twitter-icon.svg') 50% no-repeat;
//        background-size: contain;
//        display: inline-block;
//        margin: auto;
//      }
//    }
//
//    &[data-network='facebook'] {
//      &:before {
//        content: '';
//        width: 33px;
//        height: 33px;
//        background: url('../images/facebook-icon.svg') 50% no-repeat;
//        background-size: contain;
//        display: inline-block;
//        margin: auto;
//      }
//    }
//
//    & > img {
//      width: 100%!important;
//      height: 100%!important;
//      opacity: 0;
//      position: absolute!important;
//      top: 0!important;
//      left: 0!important;
//      z-index: 1;
//    }
//  }
//}

// Social Links
.share-links {
  text-align: center;
  margin-top: 50px;

  li {
    width: 48px!important;
    height: 48px!important;
    display: inline-flex!important;
    justify-content: center;
    align-items: center;
    -ms-flex-align: center;
    margin-right: 21px!important;
    padding: 0!important;
    position: relative;

    span {
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }

    img {
      width: 100%;
      max-width: 33px;
      height: auto;
      max-height: 33px;
      margin: auto;
    }
  }
}

// Image container
.image-container {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  -ms-flex-align: end;

  img {
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    // object-fit: cover;

    &.wh {
      height: 100% !important;
      min-width: 0;
    }
    &.ww {
      width: 100% !important;
      min-height: 0;
      margin-top: auto!important;
    }
  }

  &.ie {
    img {
      max-width: none;
      max-height: none;
    }
  }
}

@include mobile {
  .row > [class*="col-"] {
    flex-basis: 100%;
    max-width: 100%;
  }
  .first-xs {
    order: 1;
    -ms-flex-order: 1;
  }
  .last-xs {
    order: 0;
    -ms-flex-order: 0;
  }
}
