//
// Name:            Navigation
//
// Description:     Contains all navigation styles
//

// ========================================================================
// Component: Navigation
// ========================================================================

.topnav {
  display: flex;
  align-items: center;
  -ms-flex-align: center;

  ul {
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    padding-left: 0;

    li {
      display: inline-flex;
      margin-right: 2.1vw;
      margin-bottom: auto;

      a {
        color: $color-black;
        display: inline-block;
        font-size: 22px;
        font-weight: 800;
        line-height: 100%;

        .responsive {
          display: none;

          &:hover {
            text-decoration: underline;
          }
        }

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  @include tablet-xxl {
    ul li a {
      font-size: 17px;
      line-height: 25px;
    }
  }

  @include tablet-xl {
    ul li a {
      font-size: 14px;
      line-height: 21px;
    }
  }

  @include tablet-lg {
    width: 100%;
    padding: 43px 6.25vw 0;

    ul {
      flex-direction: column;
      margin: auto;

      li {
        margin-bottom: 29px;
        text-align: center;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          @include scriptorama {
            color: $color-white;
            font-size: 23px;
            letter-spacing: 0.21px;
            line-height: 32px;
          }

          span {
            &.desktop {
              display: none;
            }

            &.responsive {
              display: inline-block;
            }
          }
        }
      }
    }
  }

}
