//
// Name:            Base
//
// Description:     Contains all base styles, including basic resets
//

// ========================================================================
// Component
// ========================================================================
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#cookie-notice.cookie-notice-hidden {
  display: none!important;
}

body {
  font-family: $roboto;
  font-size: 21px;
  color: rgba($color-black, .8);
  letter-spacing: 0.55px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;

  &.no-scroll {
    height: 100vh;
    overflow: hidden;
  }

  // Polish privacy page
  &.polityka-prywatnosci {
    #menu {
      .menu-item-object-custom,
      .button,
      .topnav {
        display: none;
      }

      .topnav ul li {
        margin: 0;
      }
    }

    main.main {
      width: 80%;
      padding-left: 15px;
      padding-right: 15px;
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto;

      @media only screen and (max-width: 1024px) and (min-width: 1px) {
        width: 100%;
      }
    }
    @media only screen and (max-width: 1024px) and (min-width: 1px) {
      #hamburger {
        display: none!important;
      }
    }
  }
}

.mce-content-body {
  p, li, a {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
  }

  .disclaimer {
    font-size: 10px;
    line-height: 18px;
  }

  h2 {
    font-size: 27px;
    color: $primary-pink;
    line-height: 32px;
  }

  h3 {
    font-size: 27px;
    color: $primary-pink;
    letter-spacing: 0.71px;
    line-height: 32px;
  }
}

video::-webkit-media-controls {
  display: none !important;
}

// Heading styles
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 72px;
  line-height: 94px;

  @media only screen and (max-width: 768px) {
    font-size: 48px;
    line-height: 72px;
  }

  @media only screen and (max-width: 568px) {
    font-size: 36px;
    line-height: 44px;
  }
}

h2 {
  font-size: 56px;
  line-height: 64px;

  @media only screen and (max-width: 768px) {
    font-size: 48px;
    line-height: 72px;
  }

  @media only screen and (max-width: 568px) {
    font-size: 36px;
    line-height: 44px;
  }
}

h3 {
  font-size: 36px;
  line-height: 44px;

  @media only screen and (max-width: 568px) {
    font-size: 24px;
    line-height: 32px;
  }
}

h4 {
  font-size: 16px;
  line-height: 30px;
}

// Global text styles
p.subtitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

blockquote {
  font-size: 30px;
  letter-spacing: 0.79px;
  text-align: center;
  line-height: 38px;
  margin: 62px 4vw 62px 2vw;
  padding: 0 10px;
  border-left: 4px $secondary-green solid;
  border-right: 4px $secondary-green solid;
  font-weight: 600;

  @include mobile {
    margin: 50px 0;
  }

  p {
    font-size: 30px!important;
    letter-spacing: 0.79px!important;
    line-height: 38px!important;

    @include mobile {
      font-size: 28px!important;
      letter-spacing: 0.74px!important;
      line-height: 38px!important;
    }
  }
}

.intro-text {
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 20px;
}

ol {
  color: #000;
}

ul {
  list-style: none;
  padding: 0;
}

pre {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  line-height: 20px;
  top: 5px;
  border: #ccc;
  background: #fff;
  border-radius: 3px;
}

.col-left {
  opacity: 0;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.col-right {
  opacity: 0;
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

@media only screen and (max-width: 768px) and (min-width: 1px) {
  section.section {
    padding: 0 0 40px 0;
  }
}

@media only screen and (min-width: 75em) {
  .col-lg-offset-0 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -moz-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: .5rem;
    padding-left: .5rem;
    margin-left: 0;
  }
}

.wpml-ls-current-language {
  position: relative;

  @include tablet-lg {
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
    	width: 0;
    	height: 0;
    	border-bottom: 8px solid transparent;
    	border-top: 8px solid transparent;
    	border-left: 8px solid $primary-pink;
    	font-size: 0;
    	line-height: 0;
      top: 8px;
      right: -20px;
    }

    &:hover::after {
      content: '';
      display: inline-block;
      position: absolute;
    	width: 0;
    	height: 0;
    	border-left: 8px solid transparent;
    	border-right: 8px solid transparent;
    	border-top: 8px solid $primary-pink;
    	font-size: 0;
    	line-height: 0;
      top: 12px;
      right: -24px;
    }
  }
}
