//
// Name:            Buttons
//
// Description:     Contains all button styles
//

// ========================================================================
// Component
// ========================================================================
.button {
  background: $primary-green;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  display: inline-block;
  font-weight: 800;
  padding: 10px 5px;
  white-space: nowrap;
  transition: background .25s ease-in-out;

  &:hover,
  &:focus {
    background: $secondary-green;
  }
}
