// cookie alert
#cookie-notice {
  width: 100%;
  background: rgba($primary-green, .9)!important;
  color: $color-black!important;
  display: block;
  font-size: 20px;
  line-height: 24px;
  padding: 35px 200px 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;

  &:before {
    content: '';
    width: 100%;
    height: 10px;
    background-image: linear-gradient(90deg, #DD5381 0%, #96D5D2 100%);
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @include tablet-lg {
    padding: 50px 50px 35px;
  }

  @include tablet-sm {
    padding: 50px 45px 35px;
  }

  @include mobile {
    font-size: 16px;
    line-height: 24px;
    padding: 15px 15px 25px;
  }

  #cn-notice-text {
    display: block;
    width: 100%;

    a {
      color: $primary-pink;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
  .cn-button {
    width: 100%;
    max-width: 160px;
    background: $primary-pink;
    border: 2px solid $primary-pink;
    border-radius: 0;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    color: $color-white;
    display: inline-block;
    font-family: $roboto;
    font-size: 21px;
    font-weight: 800;
    margin-top: 20px;
    padding: 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    transition: background .25s ease-in-out;

    &:hover,
    &:focus {
      background: $color-white;
      color: $primary-pink;
    }
  }
}