//
// Name:            Forms
//
// Description:     Contains all form styles
//

// ========================================================================
// Component: Form
// ========================================================================

.form-wrapper {
	margin:20px auto;
	padding:40px 0;
	text-align:left;

	h1 {
		margin:0 0 20px 0;
	}
}

optgroup {
	font: inherit;
	font-weight: bold;
}

input {

	// Removes inner padding and border in Firefox 4+.
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&:-ms-input-placeholder {
		opacity:1;
		color:$color-black;
	}
	&::-moz-placeholder {
		opacity:1;
		color:$color-black;
	}
	&::-webkit-input-placeholder {
		opacity:1;
		color:$color-black;
	}
	&:disabled {
		&:-ms-input-placeholder {

		}
		&::-moz-placeholder {

		}
		&::-webkit-input-placeholder {

		}
	}
}

input {

	// Remove inner padding and search cancel button in Chrome, Safari and Opera on OS X.
	&[type="search"] {
		&::-webkit-search-cancel-button,
		&::-webkit-search-decoration {}
	}

	// Remove button on `.number` input
	&[type="number"] {
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			appearance: none;
			margin: 0;
		}
	}
}

// Define consistent border, margin, and padding.
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

// Removes `.box-shadow` for invalid controls in Firefox.
:invalid {
	box-shadow: none;
}

::-ms-clear {
	display: none;
}

// Style
// ========================================================================

// Remove margin from the last-child
form > {
	:last-child {
		margin-bottom: 0;
	}
}

// Controls
// Expand width to container of [class*="col-"]
select,
textarea,
input:not([type]),
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	width:100%;

	[class*="col-"] > & {
		width: 100%;
		display: block;
	}
}

input {
	&[type="checkbox"],
	&[type="radio"] {
		width: auto;
		display: inline-block;
	}
}

// Legend
legend {
	width: 100%;
	border: 0;
	padding: 0;

	&:after {
		content: "";
		display: block;
		width: 100%;
	}
}

// Reset height
// Must be after size modifiers
// ========================================================================

textarea,
select[multiple],
select[size] {
	height: auto;
}

// Sub-objects: `.label`
// ========================================================================

label {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 10px;
	letter-spacing: 2px;
	margin: 0;
}

.form {
	&-footer {
		* + & {

		}
	}
	&-error {
		label.error {
			font-size: 12px;
		}
	}
	&-success {
		label.success {
			font-size: 12px;
		}
	}
}

.gform_fields {

	&,
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		position: relative;
		margin-bottom:20px;
	}
	> li {
		display: flex;
		flex-direction: column;

		+ li {

		}
		> label {

		}
	}
}

input[type="text"],
input[type="email"],
input[type="password"] {
	border:$form-field-border;
	height:$form-field-height;
	line-height:$form-field-height;
	font-size:$form-field-font-size;
	padding:$form-field-padding;
	border-radius:$form-field-border-radius;
	color:$form-field-color;
	background:$color-white;
	box-shadow: inset 0 2px 6px rgba($shadow, 0.15);
	font-family: 'Brandon Grotesque', sans-serif;

	&.error {
		border:1px solid $red;
	}
	&:focus {
		background-color: $color-white;
		outline: none;
		box-shadow: 0 0 4px $secondary-orange;
	}
	&.valid {
		background-color: $color-white;
	}
}

select {
	background:$color-white;
	border:$form-field-border;
	height:$form-field-height;
}

.selectric {
	background:$color-white;
	border:$form-field-border;
	border-radius:$form-field-border-radius;

	.label {
		font-size:$form-field-font-size;
		color:$form-field-color;
	}
	.button:after {
		@include transition(.6s);
	}
}
.selectric-open .button:after {
	@include rotate(180deg);
}
.selectric-scroll li.highlighted {
	background:#f2f2f2;
}
.selectric-scroll li {
	margin:0;
}
.selectric-scroll li:hover {
	background:#f2f2f2;
}

textarea {
	background:$color-white;
	border:$form-field-border;
	height:140px;
	padding:10px;
	color:$form-field-color;
	font-size:$form-field-font-size;
	border-radius:$form-field-border-radius;
}

input[type="submit"] {
	height:50px;
	line-height: 40px;
	padding:5px;
	cursor:pointer;
	width: 100%;
	background:$secondary-orange;
	color:$color-white;
	text-transform:uppercase;
	font-weight: 900;
	font-size:18px;
	border-radius:$form-field-border-radius;
	border:2px solid $secondary-orange;

	&:hover {
		background:$color-white;
	}
}

.ginput_container_fileupload {

	.button {
		background:$secondary-orange;
		color:$color-white;
		border:2px solid $secondary-orange;
		line-height:32px;
	}
	#extensions_message {
		padding-left:20px;
		font-size:11px;
		font-style:italic;
	}
	.inputfile {
		position: absolute;
		overflow: hidden;
		opacity: 0;
		padding: 0;
		margin: 0;
		top: 0;
		left: 0;
		z-index: 1;
		cursor: pointer;
		@include size(100%);

		&:hover {
			+ label {

			}
		}
		+ label {
			color: inherit;
			max-width: 100%;
			text-overflow: ellipsis;
			white-space: nowrap;
			display: inline-block;
			overflow: hidden;
			text-transform: none;
			display: inline-flex;
			align-items: center;
			transition: all linear 200ms;

			svg {
				width: 1em;
				height: 1em;
				vertical-align: middle;
			}
		}
	}
}

.gfield_checkbox {
	display: inline-block;
	position: relative;
	width:100%;

	li {
		position:relative;
		display:inline-block;
		width:auto;
	}
	label {
		line-height:20px;
		padding-left:30px;
		padding-right:30px;
	}
	label:before {
		position: absolute;
		content: '';
		transition: .3s cubic-bezier(.68,-.55,.265,1.55);
		top: 0;
		left: 5px;
		width: 20px;
		height: 20px;
		background:$color-white;
		color:$secondary-orange;
		@include border-radius(2px);
		background-clip: padding-box;
		border:1px solid #ccc;
		text-align:center;
	}
	input:checked + label:before {
		content:'✔';
	}
	label.disabled {
		opacity: 0.75;
	}
	input {
		position: absolute;
		display: block;
		@include size(100%);
		top: 0;
		left: 0;
		z-index: 1;
		cursor: pointer;
		opacity: 0;
	}
}

.gfield_radio {
	display: inline-block;
	position: relative;
	width:100%;

	li {
		position:relative;
		display:inline-block;
		width:auto;
	}
	label {
		padding-left:30px;
		padding-right:30px;
		line-height:20px;

		&:before {
			top: 4px;
			right: 4px;
			top: 0;
			left: 4px;
			width:20px;
			height:20px;
			background:$color-white;
			border-radius: 100%;
			position: absolute;
			content: '';
			border:1px solid #ccc;
			transition: .3s cubic-bezier(.68,-.55,.265,1.55);
		}
	}
	input:checked + label:before {
		background:$secondary-orange;
	}
	&.disabled {
		opacity: 0.75;
	}
	input {
		position: absolute;
		display: block;
		@include size(100%);
		top: 0;
		left: 0;
		z-index: 1;
		cursor: pointer;
		opacity: 0;
	}
}

.gform_footer {
	margin-top:20px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

/* EASYDROPDOWN CONTENT */

.edd-root {
	&,
	& *,
	& *::before,
	& *::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.edd-root {
	display: block;
	position: relative;
	width: 100%;
	user-select: none;
	font-size: 14px;
	color: #000;
}

.edd-root-disabled {
	color: #999;
	cursor: not-allowed;
}

.edd-head {
	overflow: hidden;
	border: 1px solid #e6e5e3;
	transition: box-shadow 200ms, border-color 150ms;
	background: white;
}

.edd-head,
.edd-body {
	border-radius: 0px;
}

.edd-root-focused .edd-head {
	box-shadow: 0 0 5px rgba(105, 215, 255, 0.4);
}

.edd-root-invalid .edd-head {
	box-shadow: 0 0 5px rgba(255, 105, 105, 0.671);
}

.edd-root:not(.edd-root-disabled):not(.edd-root-open) .edd-head:hover {
	border-color: #ccc;
}

.edd-value {
	width: calc(100% - 50px);
	display: inline-block;
	vertical-align: middle;
	height: 46px;
	margin-left: 8px;
	line-height: 46px;
	border-right: 1px solid #eee;
}

.edd-arrow {
	position: absolute;
	top: calc(50% - 2px);
	right: 27px;
	pointer-events: none;
}

.edd-root-open .edd-arrow:before {
	transform: rotate(180deg);
}

.edd-value,
.edd-option,
.edd-group-label {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.edd-root:not(.edd-root-disabled) .edd-value,
.edd-option {
	cursor: pointer;
}

.edd-select {
	position: absolute;
	opacity: 0;
	left: -999px;
}

.edd-root-native .edd-select {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.edd-body {
	opacity: 0;
	position: absolute;
	left: 0;
	right: 0;
	border: 1px solid #e6e5e3;
	pointer-events: none;
	overflow: hidden;
	margin: -1px 0 0 0;
	z-index: 999;
	transform: scale(0.95);
	background: white;
}

.edd-root-open .edd-body {
	opacity: 1;
	pointer-events: all;
	transform: scale(1);
	transition: opacity 200ms, transform 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.edd-root-open-above .edd-body {
	bottom: 100%;
}

.edd-root-open-below .edd-body {
	top: 100%;
}

.edd-items-list {
	overflow: auto;
	max-height: 0;
	transition: max-height 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-webkit-overflow-scrolling: touch;
}

.edd-group-label {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1em;
	padding: 12px 8px 4px;
	color: #999;
}

.edd-group-has-label {
	border-bottom: 1px solid #e6e5e3;
}

.edd-option {
	padding: 4px 8px;
}

.edd-group-has-label .edd-option {
	padding-left: 20px;
}

.edd-option-selected {
	font-weight: bold;
}

.edd-option-focused:not(.edd-option-disabled) {
	color: $brand-primary;
}

.edd-option-disabled,
.edd-group-disabled .edd-option {
	cursor: default;
	color: #999;
}

.edd-gradient-top,
.edd-gradient-bottom {
	content: '';
	position: absolute;
	left: 2px;
	right: 2px;
	height: 32px;
	background-image: linear-gradient( 0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 100%);
	background-repeat: repeat-x;
	background-size: 100% 200%;
	pointer-events: none;
	transition: opacity 100ms;
	opacity: 0;
}

.edd-gradient-top {
	background-position: bottom;
	top: 0;
}

.edd-gradient-bottom {
	background-position: top;
	bottom: 0;
}

.edd-body-scrollable .edd-gradient-top,
.edd-body-scrollable .edd-gradient-bottom {
	opacity: 1;
}

.edd-body-scrollable.edd-body-at-top .edd-gradient-top,
.edd-body-scrollable.edd-body-at-bottom .edd-gradient-bottom {
	opacity: 0;
}
