#pre-qualify-modal {
  width: 100vw;
  height: 100vh;
  background: rgba(17,17,17,0.75);
  border: none;
  overflow: scroll;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;

  &.show {
    display: block;
  }

  .modal--screener {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-flex-align: center;
  }

  .modal--screener--inner {
    width: 80vw;
    max-width: 1000px;
    height: 70vh;
    margin: 0;
    position: relative;
  }

  .modal__content {
    width: 80vw;
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: .5rem;
    padding: 1.5rem 0 0;
    background: white;
    text-align: center;

    .modal__content--inner {
      width: 100%;
      height: 100%;
      position: relative;
    }

    h2 {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1;
      padding-bottom: 1rem;
      color: $primary-pink;
      text-align: center;
    }

    .modal__iframe {
      width: 80vw;
      max-width: 1000px;
      height: 70vh;
      max-height: 30em;

      .modal__iframe__container {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
        overflow: visible;
        -webkit-overflow-scrolling:touch;
      }

      iframe {
        border: 0
      }
    }
  }

  .modal__close {
    position: absolute;
    top: -1.5em;
    right: -1em;
    width: 2em;
    height: 2em;

    a {
      display: inline-block;
    }
  }

  .modal--exit {
    width: 100vw;
    height: 100vh;
    background: rgba(17,17,17,0.75);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    &.show {
      display: flex;
      align-items: center;
      -ms-flex-align: center;
      justify-content: center;
    }

    .text-cnt {
      max-width: 80%;
      background: white;
      display: inline-block;
      padding: 1.5rem;
      border-radius: .5rem;
      margin: 0;

      h2 {
        font-size: 28px;
        font-weight: 600;
        line-height: 1;
        padding-bottom: 1rem;
        color: $primary-pink;
        text-align: center;
      }

      p {
        font-size: 18px;
        margin-top: 0;
        text-align: center;
      }

      .modal__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 15px;

        a {
          margin: 0 0 .5rem;
          min-width: 7em;
          text-align: center;
          transition: all .25s ease-in-out;

          &.modal-no {
            background: $color-white;
            border: 2px solid $primary-pink;
            color: $primary-pink;

            &:hover {
              background: $primary-pink;
              color: $color-white;
            }
          }

          &:last-child {
            margin-right: 0;
          }

          span {
            font-size: 1.25em;
          }

          &.modal-leave {
            background: $primary-pink;
            border: 2px solid $primary-pink;
            color: $color-white;

            &:hover {
              background: $color-white;
              color: $primary-pink;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 640px) {
  #pre-qualify-modal .modal--exit .text-cnt .modal__buttons {
    flex-direction: row;
  }

  #pre-qualify-modal .modal--exit .text-cnt .modal__buttons a {
    margin: 0 .25em .5rem;
  }
}

@media screen and (max-width: 581px) {
  #pre-qualify-modal .modal--screener {
    align-items: flex-start!important;
    -ms-flex-align: start!important;
  }

  #pre-qualify-modal .modal__content {
    top: 20px!important;
    transform: translateX(-50%)!important;
  }

  #pre-qualify-modal .modal__content .modal__iframe {
    height: calc(70vh - 60px)!important;
  }
}
