//Skip Link
.skiplinks {
  width: 350px;
  background: $color-white;
  padding: 10px 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  transform: translateX(-100%);
  transition: all .25s ease-in-out;

  &.show {
    transform: none;
  }

  h2 {
    font-size: 50px;
    font-weight: 600;
    color: $primary-pink;
    letter-spacing: 1.25px;
    text-align: center;

    @include tablet-sm {
      font-size: 45px;
      letter-spacing: 1.12px;
    }

    @include mobile {
      font-size: 35px;
      letter-spacing: 0.88px;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      font-weight: 300;
      line-height: 38px;
      padding-left: 15px;
      position: relative;

      @include mobile {
        font-size: 16px;
        letter-spacing: 0.42px;
        line-height: 30px;
      }

      &:after {
        content: '';
        width: 9px;
        height: 9px;
        background: $primary-pink;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 15px;
        left: 0;

        @include mobile {
          top: 9px;
        }
      }

      a {
        color: $color-black;
        display: inline-block;
        font-size: 22px;
        font-weight: 800;
        line-height: 100%;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}