// Tooltip
.tooltip {
  margin-top: 20px;
  position: relative;

  @include mobile {
    position: static;
  }

  .pq-disclaimer {
    font-size: 15px!important;
    font-weight: 400!important;
    letter-spacing: 0.14px!important;

    @include mobile {
      font-size: 11px!important;
      letter-spacing: 0.1px!important;
    }

    span {
      display: inline-block;
      line-height: 15px;
      text-align: left;
      vertical-align: top;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      display: inline-block;
      padding: 0;
      position: relative;
      transform: translateY(-2px);
      vertical-align: top;
      -webkit-appearance: none;

      @include mobile {
        transform: translateY(0);
      }

      .tooltip-label {
        width: 100%;
        height: 100%;
        font-size: 4px;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
  }

  .tooltip-inner {
    width: 333px;
    background: $primary-green;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    opacity: 0;
    padding: 10px;
    pointer-events: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 50px;
    transform: translateY(25px);
    transition: all .125s linear;

    @include mobile {
      width: 100%;
      padding: 15px;
      position: fixed;
      bottom: 0;
      top: auto;
      left: 0;
      text-align: center;
      z-index: 100;

      &.show {
        background: rgba($primary-green, .9);
      }
    }

    &.show {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    .close {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      position: absolute;
      top: 5px;
      right: 5px;
      -webkit-appearance: none;

      span {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }

    p {
      color: $color-black;
      font-size: 20px!important;
      font-weight: 400!important;
      letter-spacing: 0.19px;
      line-height: 24px!important;
      margin-top: 0;
    }
  }
}